
*.vsidx
*.lock
*.dll
*.json
*.exe
*.pdb
*.cache
*.BuildWithSkipAnalyzers
*.CopyComplete
*.txt
*.editorconfig
*.props
*.targets
*.v2
*.2
*.resources
*.lref
*.baml
l6_Library_EF/.vs/
l6_Library_EF/packages/
l6_Library_EF/l6_Library_EF/bin/
l6_Library_EF/l6_Library_EF/obj/
l7_Human_CodeFirst/bin/
l7_Human_CodeFirst/obj/
l7_Human_CodeFirst/.vs/
l8_Game_Migration/bin/
l8_Game_Migration/obj/
l8_Game_Migration/.vs/