
*.vsidx
*.lock
l1_Library/.vs/l1_Library/v17/.suo
*.dll
*.json
*.exe
*.pdb
l1_Library/l1_Library/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
l1_Library/l1_Library/obj/Debug/net6.0/l1_Library.AssemblyInfo.cs
*.cache
*.BuildWithSkipAnalyzers
*.CopyComplete
*.txt
*.editorconfig
l1_Library/l1_Library/obj/Debug/net6.0/l1_Library.GlobalUsings.g.cs
*.props
*.targets
*.v2
*.2
l2_Veg_Frt/.vs/l2_Veg_Frt/v17/.suo
l2_Veg_Frt/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
l2_Veg_Frt/obj/Debug/net6.0/l2_Veg_Frt.AssemblyInfo.cs
l2_Veg_Frt/obj/Debug/net6.0/l2_Veg_Frt.GlobalUsings.g.cs
l3_Warehouse/.vs/l3_Warehouse/v17/.suo
l3_Warehouse/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
l3_Warehouse/obj/Debug/net6.0/l3_Warehouse.AssemblyInfo.cs
l3_Warehouse/obj/Debug/net6.0/l3_Warehouse.GlobalUsings.g.cs
